preprocess/pkl
preprocess/raw
.idea
.git
__pycache__
preprocess/grammar.py
preprocess/.cache
evaluate/eval_data
/lightning/hydra_train/
/lightning/hydra_inference/
/lightning/ckpts/
/.sync.ffs_db
/lightning/src/
/mathematics/
*.ckpt
/lightning/resource/frameflow/rename_target.py