defaults:
  - method: foldflow




hydra:
  run:
    dir: ./hydra_train/${now:%Y-%m-%d_%H-%M-%S}
  sweep:
    dir: ./hydra_train/${now:%Y-%m-%d_%H-%M-%S}
    subdir: ${hydra.job.num}
  job:
    chdir: True
